[Unit]
Description=Run LinuxTweaks Flatpak Update Script every 6 hours, after boot, idle, or wake from sleep
ConditionACPower=true

[Timer]
OnBootSec=1min
OnUnitActiveSec=6h
OnUnitInactiveSec=1h
# WakeSystem=true
RandomizedDelaySec=5m
Unit=linuxtweaks-flatpak.service
Persistent=true

[Install]
WantedBy=timers.target

