[Unit]
Description=Run Tolga's Flatpak Update Script daily VER: 5.0

[Timer]
# OnCalendar=daily
OnBootSec=5min
RandomizedDelaySec=10min
Persistent=true
Unit=linuxtweaks-flatpak.service

[Install]
WantedBy=default.target timers.target
