# systemctl --user daemon-reexec && systemctl --user daemon-reload && systemctl --user enable --now weather-report.{service,timer}
[Unit]
Description=🌤️ ☀️ 🌧️ 🌩️Daily Weather Report
After=network-online.target
Wants=network-online.target

[Service]
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/bin/bash -c 'notify-send --app-name="🌤 Weather Service" -i /usr/local/bin/LinuxTweaks/images/LinuxTweak.png -u NORMAL "🌤️ Perth Weather" "📍 $(curl -s wttr.in/Perth?format=4)"'

[Install]
WantedBy=default.target



