samba/mnt/qnap-secrets
samba/mnt/router-secrets
NOTES/
nvidia/z_NOTES.txt
nvidia/z_MASTER_BAKUP.nix
my-scripts/
python/fhs.nix
fonts/default copy.nix
fonts/OVERLAY_ISSUES.txt
networking/networkmanager.nix
python/shell-.nix
vm/original - default.nix
