[Unit]
Description=Preload important files into memory using vmtouch
After=local-fs.target
ConditionPathExists=/usr/local/bin/my-preload.sh

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/my-preload.sh
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
TimeoutStartSec=30s
SyslogIdentifier=my-preload

[Install]
WantedBy=multi-user.target
