[Unit]
Description=Restart NTP check timer on resume
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart ntp-check.timer

[Install]
WantedBy=multi-user.target
