[Unit]
Description=Tolga Custom (WSDD) - Web Services Dynamic Discovery host daemon
Documentation=man:wsdd(8)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5
BindsTo=smb.service

[Service]
Type=simple
ExecStart=/bin/bash -c '\
for i in {1..10}; do \
  interface=$(ip -o link show | awk -F": " '\''$2 ~ /^(wlp|wlo|wlx|eth|eno)/ && $0 ~ /state UP/ && $0 !~ /NO-CARRIER/ { print $2; exit }'\''); \
  if [ -n "$interface" ]; then \
    echo "Found interface: $interface"; \
    exec /usr/bin/wsdd --interface "$interface"; \
  else \
    echo "No suitable interface found, retrying ($i/10)..."; \
    sleep 1; \
  fi; \
done; \
echo "Failed to find a suitable interface after 10 attempts." >&2; \
exit 1'
RemainAfterExit=true
User=wsdd
Group=wsdd
RuntimeDirectory=wsdd
AmbientCapabilities=CAP_SYS_CHROOT CAP_NET_ADMIN
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
