[Unit]
Description=Ensure WSDD is running after suspend/resume
After=suspend.target
After=hibernate.target
After=sleep.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash -c "sleep 2; echo 'Checking wsdd status...'; systemctl is-active --quiet wsdd.service || (echo 'WSDD is not active, restarting...'; systemctl restart wsdd.service)"
RemainAfterExit=true
ExecStopPost=/bin/sleep 5

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=sleep.target
