# /etc/systemd/system/wsdd-starter.service
[Unit]
Description=Starter for WSDD and WSDD Sleep Services
After=network-online.target
Wants=wsdd.service wsdd-sleep.service
PartOf=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo "[WSDD Starter] Reexec and reload systemd...";   systemctl daemon-reload;   echo "[WSDD Starter] Restarting wsdd.service...";   systemctl restart wsdd.service;   echo "[WSDD Starter] Restarting wsdd-sleep.service...";   systemctl restart wsdd-sleep.service'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
