[Unit]
Description=Using vmtouch to preload programs
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-fsck-root.service
Before=local-fs-pre.target local-fs.target shutdown.target
Wants=local-fs-pre.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=-/usr/bin/big-preload

# Type=simple
# Use - to ignore exit 1 when preload bigbashview
# ExecStart=-/usr/bin/big-preload
User=root
Group=root
#IOSchedulingClass=idle
#CPUSchedulingPolicy=idle
#CPUSchedulingPriority=1
#IOSchedulingPriority=7
# Optional performance tuning for low-impact background I/O and CPU
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
# CPUSchedulingPriority=1

[Install]
WantedBy=local-fs-pre.target
